.search {
  text-align: center;
  background-color: #fefefe;
  height: 130vh;
  transition: all 0.2s;
}
.searchInputs {
  margin: auto;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  background-color: #bfdfed;
  width: 80%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 0;
  font-size: 20px;
  font-weight: 500;
  padding: 15px;
  height: 60px;
  width: 320px;
}
input:focus {
  outline: none;
}
.searchIcon {
  background-color: #bfdfed;
  padding: 0.783em;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.dataItem {
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
  color: black;
  padding: 1%;
  width: 20%;
  margin: auto;
  transition: all 0.2s;
}
.dataItem:hover {
  color: #2b7ea1;
  transition: color 0.2s;
}
.CardImg {
  width: 28%;
}
#clearBtn {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .search {
    height: 100vh;
  }
  .searchInputs {
    padding-top: 10%;
  }
  .searchIcon {
    padding: 0.785em;
  }
  .dataItem {
    font-size: 18px;
    width: 65%;
    margin: auto;
  }
}
