.footer {
  background-color: #f6f6f6;
  min-height: 100vh;
  transition: all 0.5s;
}
.textFooter {
  color: #ffff;
  padding-top: 8%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.textFooter p {
  font-size: 14px;
}

.textFooter h1 {
  font-weight: 500;
  font-size: 60px;
  color: white;
  background-color: #2b7ea1;
  border-top-left-radius: 40%;
  border-top-right-radius: 70%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  width: 18rem;
  margin: auto;
  padding: 1.2%;
}
.textFooter h3 {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.textFooter h6 {
  color: #fff;
  font-weight: 200;
  font-size: 18px;
}
.teamCard {
  color: black;
  padding: 1%;
  padding-bottom: 0%;
  width: 18.75em;
  height: 12.5em;
  margin: auto;
  margin-top: 3%;
  margin-left: 1%;
  margin-right: 1%;
  transition: all 0.5s;
}
.teamCard h6 {
  color: #2b7ea1;
  font-weight: 600;
  padding-top: 8%;
}
.teamCard p {
  font-size: 14px;
}
.teamCard i {
  color: #000 !important;
}

.footerContainer{
  margin-left: 8%;
  margin-right: 8%;
  padding-top: 7%;
}
.copyright{
  font-weight: 500;
  justify-content: center;
  color: #64748b;
  padding-top: 1.6rem;
  margin-top: 1.4rem;
}
.sectionTitle{
  color: #64748b;
  font-weight: 600;
}
.sectionsLinks a{
  font-weight: 500;
  text-decoration: none;
  color: #64748b !important;
}
.sectionsLinks a:hover{
  color: black !important;
  text-decoration: underline;
  text-underline-offset: 2;
}

.footerIcons{
  color: black;
  padding: 5%;
  background: white;
  border-radius: 50%;
  width: 3rem;
  object-fit:cover;
  transition: all 0.3s;
}
.footerIcons:hover{
  transform: scale(1.1);
}
.contactIcon{
  color: black;
}
.contactIcon:hover{
  color: #2b7ea1;
  cursor: pointer; 
}

@media screen and (max-width: 800px) {
  .textFooter {
    padding-top: 16%;
    margin-left: 0%;
    margin: auto;

  }
  .textFooter h1 {
    font-size: 46px;
    width: 13rem !important;
    padding: 3%;
  }
  
  .footerContainer{
    padding-top: 15%;
  }
}

@media screen and (max-width: 380px) {
  .footerContainer{
    padding-top: 20%;
  }
}
