.navbar-expand-lg {
  flex-wrap: nowrap !important;
  background-color: transparent;
}
.navbar-expand-lg a {
  color: rgb(31, 30, 30);;
  font-weight: 500;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.navbar-expand-lg a:hover {
  color: rgb(31, 30, 30);;
}

.navbar-brand {
  width: 7%;
}
.navbar-nav {
  flex-direction: row !important;
}
.nav-3 {
  margin-top: 10%;
}
.navBtn:hover{
  cursor: pointer;
}
.backHoverColor{
  color: #2B7EA1 !important;
  transition: all 0.2s;
  cursor: pointer;
}

.dropdown-item{
  margin: auto ;
}
.active{
  color: #2B7EA1 !important;
  transition: all 0.2s;
}

@media screen and (max-width: 800px) {
  .navbar-brand {
    width: 26%;
  }
  .backHoverColor{
  color: black;
}
}
