.navbar-expand-lg {
  flex-wrap: nowrap !important;
  background-color: transparent;
}
.navbar-expand-lg a {
  color: black;
  font-weight: 500;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.navbar-expand-lg a:hover {
  color: rgb(31, 30, 30);
}
.navbar-expand-lg a {
  color: black;
  font-weight: 500;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.navbar-brand {
  width: 7%;
}
.navbar-nav {
  flex-direction: row !important;
}
.nav-3 {
  margin-top: 10%;
}
.dropdown-menu li {
  transition: all 0.4s;
}
#MdInfo:hover, #RiHomeFill:hover, #IoCaretBackCircle:hover{
  cursor: pointer;
}

.backHoverColor{
  color: #2B7EA1 !important;
}

h3 {
  font-size: 20px;
}

.dropdown-item{
  margin: auto ;
}
.active{
  color: #2B7EA1 !important;
}
@media screen and (max-width: 800px) {
  hr {
    margin: 10%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-brand {
    width: 22%;
  }
  .navIcons{
    width:auto;
    cursor: pointer;
  }
  .navIcons:hover{
    width: 75%;
  }
  .backHoverColor{
  color: black;
}
}
