.peridocTableWidth{
    width: 97% !important;
    padding: 2%;
}

.periodicTable {
    display: grid;
    grid-template-columns: repeat(18, 64px);
    grid-template-rows: repeat(10, 64px);
    grid-gap: 4px;
    padding: 1%;
    overflow: scroll;
}

.kindElements {
    display: grid;
    grid-auto-rows: 100px;
    width: 100%;
    grid-template-columns: repeat(10, 110px);
    font-size: 12px;
    margin-inline: 2%;
    padding-bottom: 1%;
}
.kindElements small {
    position: relative;
    top: 3em;
}
.element {
    background: white;
    border: 3px solid #aaa;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    transition: all 0.2s;
    cursor: pointer;
}

.element:hover {
    transform: scale(1.25, 1.25);
    z-index: 1;
}
.elementActive {
    background: white;
    border: 1px solid #aaa;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-left: 10em;
    width: 30em;
    padding: 1em;
    height: 10em;
    cursor: default;
    transition: all 0.2s;
}
.elementActive .number {
    font-size: 12px;
    position: absolute;
    top: 1em;
    left: 1em;
}
.elementActive .numberTwo {
    font-size: 12px;
    position: absolute;
    top: 1em;
    right: 1em;
}
.elementActive .electronegativity {
    font-size: 12px;
    position: absolute;
    bottom: 1em !important;
    right: 1em;
} 
.elementActive .name {
    font-size: 12px;
    position: absolute;
    bottom: 1em;
    left: 1em;
}
.elementActive img {
    width: 3em;
}

.element .number {
    font-size: 8px;
    position: absolute;
    top: 5px;
    left: 5px;
} 

.element .numberTwo {
    font-size: 8px;
    position: absolute;
    top: 5px;
    right: 5px;
} 

.element .name {
    font-size: 8px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.element {
    border-color: lightgray;
}
.dark .element {
    border-color: #414344;
}


@media screen and (max-width: 450px) {
    .peridocTableWidth{
        width: 100% !important;
        padding: 4%;
    }
    .kindElements{
        grid-template-columns: repeat(5, 60px);
        gap: 1em;
    }
}
