/** All pages */
.dark hr {
  background-color: #51cbff !important;
  box-shadow: none !important;
}
.dark .installCard {
  background: #28292a;
  color: white;
}
.dark .closeInstallBtn {
  color: #fefefe;
}

.dark .titleSubject {
  background-color: #303233;
  color: #3aa0cc;
}

.dark .home {
  background-color: #121212;
  color: #e3e3e3;
}

.dark .home-2 {
  background-color: #121212;
  color: #fefefe;
}
.dark .text-sectionTwo {
  background-color: #004a77;
  color: #e3e3e3;
}
.dark .btn-outline-secondary {
  color: #e3e3e3 !important;
}

.dark .subjectLink, .dark .subjectLinkMenu {
  background-color: #28292a;
  color: #e3e3e3;
}
.dark .subjectLink:hover, .dark .subjectLinkMenu:hover {
  background-color: #004a77;
}
.dark .BiChevronRight {
  color: #e3e3e3 !important;
  transition: all 0.5s;
}
.dark .pagination {
  --bs-pagination-bg: #28292a !important;
}
.dark .page-link {
  color: #e3e3e3 !important;
}
.dark .textIntroduction {
  background-color: #28292a;
  transition: all 0.5s;
}

.dark .subjectCard {
  background-color: #28292a;
  color: #e3e3e3;
}
.dark .homeCard {
  background-color: #121212;
}
.dark .table {
  color: #e3e3e3;
  transition: all 0.5s;
}
.dark .englishCard, .dark .englishCardStructure {
  background-color: #28292a;
  color: #e3e3e3;
}
.dark .numberInput {
  background: #c0deeb  !important;
}
.dark .englishLink, .dark .englishSubtitle {
  color: #e3e3e3;
}
.dark .scoreboardCard {
  border-color: #414344;
}
.dark .scoreChartColor {
  color: lightgreen;
}
.dark .mobileMenu {
  background-color: #121212;
  transition: all 0.5s;
}
.dark .dropdownBorder {
  border-color: gray;
}

.dark .infoPage {
  color: #e3e3e3;
  background-color: #121212;
}
.dark .infoTitle {
  background-color: #28292a;
  color: #2b7ea1;
}
.dark .cardsInfoSection {
  background-color: #121212;
}
.dark .cardInfo {
  background-color: #28292a;
  color: #e3e3e3;
  transition: all 0.5s;
}

.dark .search {
  background-color: #121212;
  transition: all 0.5s;
}
.dark .dataItem {
  background-color: #28292a;
  color: #e3e3e3;
}
.dark .dataItem:hover {
  background-color: #004a77;
  color: #e3e3e3;
}

/** Footer  */
.dark .footer {
  background-color: #121212;
  transition: all 0.5s;
}
.dark .textFooter h1 {
  background-color: #004a77;
  transition: all 0.5s;
}
.dark .teamCard {
  color: #e3e3e3;
  transition: all 0.5s;
}
.dark .teamCardCenter {
  background-color: #28292a;
  color: #e3e3e3;
  transition: all 0.5s;
}

.dark .contactUs {
  color: white !important;
}
.dark .sectionTitle {
  color: #899bb6;
}
.dark .sectionsLinks a:hover {
  color: #899bb6 !important;
}
.dark .copyright {
  color: #899bb6;
}
.dark .footerIcons, .dark .titleForm {
  background-color: #28292a;
}
.dark .contactIcon {
  color: white;
}
.dark .app-form-control {
  color: white;
}

/** Blog  */
.dark .blogContainer {
  background-color: #121212;
}
.dark .blogCard {
  background-color: #28292a;
  color: white;
}
.dark .blogCardText {
  color: white;
}
.dark .blogSectionContainer {
  background: #121212;
}
.dark .blogSection {
  background: #28292a;
  color: white;
}

/** Icons atribution */
.dark .iconsContainer {
  background-color: #121212;
}
.dark .iconsCard {
  background-color: #28292a;
  color: white;
}
.dark .iconsCard ul li a {
  color: white !important;
}
/**  Shadows */
.dark .ownShadow-sm,
.ownShadow,
.ownShadow-lg {
  box-shadow: none;
}

/** Not Found */
.dark .notFoundContainer {
  background-color: #121212;
  color: #fff;
}

/** Tooltip  */
.dark .tooltipBackground {
  background-color: #414344 !important;
  color: white !important;
}

/** ScrollToTopBtn */
.dark .scrollToTopBtn {
  background-color: #414344;
  color: white;
}

/** Periodic table  */
.dark .element, .dark .elementActive {
  background-color: transparent;
}
.dark .element:hover{
  background-color: #28292a;
}

@media screen and (max-width: 800px) {
  .dark .textFooter h1 {
    width: 73%;
    background-color: #004a77;
    color: #e3e3e3;
  }
}
