body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

::selection {
  background-color: #bfdfed;
  color: black;
}
/** Transition between routes */
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.25s;
}

/** Global elements */
/* Shadows */
.ownShadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  transition: all 0.5s;
}

.ownShadow {
  box-shadow: 0 0.5rem 1rem rgba(10, 6, 6, 0.15) !important;
  transition: all 0.5s;
}

.ownShadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  transition: all 0.5s;
}

h2,
h1 {
  font-weight: 200;
}

hr {
  margin-bottom: 5% !important;
  margin-inline: auto !important;
  background-color: white;
  height: 3px !important;
  border-radius: 12px !important;
  box-shadow: 3px 2px 2px 1px rgb(184, 183, 183);
  background-color: #2b7ea1 !important;
  border: #2b7ea1 !important;
  transition: 0.5s;
}

ul li {
  list-style-type: none;
  text-indent: -6px;
}

ul li:before {
  content: "-";
  position: relative;
  left: -5px;
}

.btn-secondary {
  background-color: #2b7ea1 !important;
  border-color: #2d7d9f !important;
  color: white;
  border-radius: 10px !important;
  transition: transform 0.2s, background-color 0.2s !important;
}

.btn-secondary:hover {
  background-color: #28708f !important;
  border-color: #28708f !important;
  transform: translateY(-2.5px);
}

.btn-outline-secondary {
  border-color: #2d7d9f !important;
  border-radius: 10px !important;
  transition: transform 0.2s, background-color 0.2s !important;
}

.btn-outline-secondary:hover {
  background-color: #2b7ea1 !important;
}

.installCard {
  background-color: #f6f6f6;
  width: 55%;
  border-radius: 15px;
  border: none;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  transition: 0.5s;
  position: fixed;
  bottom: 0;
  margin-bottom: 4%;
  left: 25%;
  text-align: center;
  z-index: 10;
}

.installCard div {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.installCard img {
  width: 3.5em;
}

.installCard span {
  font-size: 17px;
}


.tooltipBackground {
  background-color: #f6f6f6 !important;
  color: black !important;
  opacity: 1 !important;
}

.numberInputContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 4%;
}

.numberInput {
  width: 2.5em;
  height: 2.5em;
  border: none;
  border-radius: 5px;
  background: #bfdfed;
}

.numberInput:focus {
  outline: none;
}

.numberInput[type="number"]::-webkit-inner-spin-button,
.numberInput[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/** Scroll to top button  */
.scrollToTopBtn {
  position: fixed;
  padding: 0.4rem;
  right: 1.25rem;
  bottom: 1rem;
  border-radius: 10000px;
  background-color: #ffffff;
  opacity: 0.8;
  color: black;
  cursor: pointer;
  transition: all 0.2s !important;
  z-index: 10;
}

.scrollToTopBtn:hover {
  bottom: 1.3rem;
}

.scrollToTopBtn:active {
  bottom: 1.3rem;
}

.scrollToTopBtn svg circle {
  transition-delay: 0.1s;
  transition: 200ms;
}

.circleProgress {
  position: absolute;
  right: -3.9px;
  bottom: -4px;
  transition: all 0.2s;
}

/** Section 1 */
.home {
  background-color: #f6f6f6;
  min-height: fit-content;
  transition: 0.5s;
}

.sectionOne {
  padding: 5%;
  padding-top: 2rem;
  justify-content: space-between;
}

.sectionOne h1 {
  font-size: 3.75em;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.sectionOne p {
  font-size: 1em;
  width: 22rem;
}

.sectionOne img {
  width: 30rem;
}

.sectionOneAppendOne {
  padding-top: 1em;
}

.flexHome {
  display: flex;
}

/** Section 2 */
.home-2 {
  background-color: #f6f6f6;
  transition: 0.5s;
}

.sectionTwo {
  display: flex;
  width: 100%;
  padding-top: 5%;
}

.sectionTwoText {
  max-width: 70rem;
  margin-left: auto;
  margin: auto;
  padding-bottom: 2%;
}

.flex-1 {
  display: flex;
}

.text-sectionTwo {
  width: 100%;
  padding: 4% !important;
  margin-top: 5%;
  border-radius: 25px;
  background-color: #2b7ea1;
  color: #fff;
  height: 80%;
  transition: 0.5s;
}

.text-sectionTwo h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 38px;
}

.text-sectionTwo ::selection {
  background-color: #bfdfed;
  color: #fff;
}

/** Subjects space */
.subjectsContainer {
  margin-inline: 5%;
  max-width: 80rem;
  flex-wrap: wrap !important;
}


.subjectLink {
  background-color: white;
  border-radius: 25px;
  padding: 8%;
  align-items: center;
  height: 90px;
  width: 260px;
}

.subjectLink img {
  width: 25%;
}

.subjectLink h5 {
  margin-bottom: 0;
}

.animation {
  transition: transform 0.3s, background-color 0.3s !important;
}

.animationMobile {
  transition: transform 0.2s, background-color 0.2s;
}

.subjectLink:hover {
  background-color: #bfdfed;
  color: #fefefe !important;
  transform: translateY(-5px) !important;
}

.subjectLinkMenu:hover {
  background-color: #bfdfed;
  color: #fefefe !important;
  transform: translateY(-5px) !important;
}

.trigonometryCard h5 {
  font-size: 17.5px;
  margin-left: 0% !important;
}

.subjectLinkMenu {
  background-color: white;
  border-radius: 25px;
  padding: 5%;
  align-items: center;
  height: 300px;
  width: 260px;
  margin-bottom: 8%;
  transition: 0.5s !important;
}

.subjectLinkMenuContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.subjectLinkMenuContent img {
  margin-bottom: 2%;
}

/** Física page */
.cardsFisica {
  display: flex;
}

.nav-3 {
  margin-top: 5%;
}

.moreInformationLinks li a {
  color: #3aa0cc;
  text-decoration: none;
}

.moreInformationLinks li a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.convertionType ul {
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(10, 6, 6, 0.15);
  transition: all 0.5s;
}

.convertionType ul li {
  list-style: none;
  cursor: pointer;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.convertionType ul li:hover {
  background-color: #f6f6f6;
}

.convertionType ul li:before {
  content: "";
  margin-left: 0.6em;
}

.pagination {
  margin-top: 5%;
  --bs-pagination-border-width: 0px !important;
  --bs-pagination-padding-x: 1rem !important;
  --bs-pagination-padding-y: 1rem !important;
  --bs-pagination-border-radius: 1.3rem !important;
  transition: 0.5s;
  border-radius: 1.3rem;
  width: fit-content;
  margin-inline: auto;
}

.pagination li {
  border-radius: 1.3rem !important;
  list-style-type: none !important;
}

.pagination li a:hover {
  background-color: #bfdfed;
  color: black !important;
}

.pagination li a:focus {
  background-color: #bfdfed;
  color: black !important;
}

.pagination li:before {
  content: none;
}

.page-link {
  color: black !important;
  transition: 0.5s;
}

/** Subjects space  */
.homeCard {
  padding-bottom: 5%;
  transition: 0.5s;
  background: #f6f6f6;
}

.subjectCard {
  background-color: white;
  width: 70%;
  margin: auto;
  margin-top: 5%;
  border-radius: 20px;
  padding: 4%;
  transition: 0.5s !important;
}

.subjectCardPeriodicTable {
  background-color: white;
  width: 70%;
  margin: auto;
  margin-top: 5%;
  border-radius: 20px;
  padding: 2%;
  transition: 0.5s !important;
}

.collapseTitleIconUp {
  transform: rotate(180deg);
  transition: 0.5s;
  margin-top: 0.5%;
}

.collapseTitleIconDown {
  transition: 0.5s;
  margin-top: 0.5%;
}

.subjectCard li {
  padding-top: 0.3em;
}

.subjectCard h4 {
  padding-top: 0.5em;
}

.table {
  width: 34rem !important;
}

/** Img */
.eightyPercentImg {
  width: 80%;
}

.reglaTres {
  width: 15%;
}

.practiceImg {
  width: 40%;
}

/** English space  */
.englishCardContainer {
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
}

.englishCard {
  width: 40%;
  border-radius: 15px;
  padding: 2%;
  margin-bottom: 2%;
  transition: 0.5s !important;
}

.englishCardStructure {
  width: 30%;
  border-radius: 15px;
  padding: 2%;
  margin-bottom: 2%;
  transition: 0.5s !important;
}

.englishLink {
  text-decoration: none;
  color: black;
  transition: 0.5s !important;

}

.englishSubtitle {
  text-align: center;
  margin: 3%;
  transition: 0.5s !important;

}

.englishCardContainer h4 {
  color: #2b7ea1;
}

/** Mobile menu pages */
.mobileMenu {
  background-color: #f6f6f6;
  min-height: fit-content;
  transition: 0.5s !important;
}

.mobileSubjectMenu {
  margin: auto;
  width: 90%;
  padding-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
}

/** Information page */
.infoPage {
  align-items: center;
  background-color: #f6f6f6;
  color: #2b7ea1;
  transition: all 0.5s;
  min-height: 100vh;
}

.ImgInfo {
  width: 9%;
  margin-top: 2%;
}

.infoTitle {
  width: 30%;
  padding: 3%;
  border-radius: 20px;
}

.cardsInfoSection {
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 4%;
}

.cardInfo {
  color: black;
  padding: 2%;
  border-radius: 20px;
  width: 21.875rem;
  height: 20rem;
  margin-inline: 2%;
}

.cardInfo h3 {
  color: #2b7ea1;
}

/** Blog */
.blogContainer {
  min-height: 100vh;
  background-color: #f6f6f6;
  transition: 0.5s;
}

.blogCard {
  width: 30rem;
  margin: auto;
  background: white;
  border-radius: 15px;
  transition: all 0.3s;
}

.blogCard:hover {
  transform: translateY(-10px) !important;
}

.blogCardImg {
  width: 9em;
  object-fit: cover;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.blogCardText {
  width: 22em;
  padding: 0.5em;
  color: #000;
  border: 0px 2px 0px 2px #000 1;
}

.blogCardText p {
  font-size: 16px;
}

.blogCardTitle {
  transition: 0.3s;
}

.blogCard:hover .blogCardTitle {
  color: #2b7ea1;
}

.blogSectionContainer {
  min-height: 100vh;
}

.blogSectionContainerTwo {
  padding-top: 5%;
  padding-bottom: 5%;
}

.blogSection {
  width: 60%;
  margin-inline: auto;
  border-radius: 20px;
  padding: 4%;
  background-color: white;
}

.blogSection ul li {
  list-style-type: disc;
}

.blogSection ul li h4 a {
  color: #28708f;
  font-weight: 600;
  text-decoration: none;
  transition: 150ms;
}

.blogSection ul li h4 a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.blogSection ul li::before {
  content: "";
}

.containerCards {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

/** Icons atribution  */
.iconsContainer {
  align-items: center;
  background-color: #f6f6f6;
  color: #2b7ea1;
  transition: 0.5s;
  min-height: 100vh;
}

.iconsCard {
  background-color: white;
  width: 70%;
  margin: auto;
  margin-top: 5%;
  border-radius: 20px;
  padding: 4%;
  transition: 0.5s !important;
}

.iconsCard ul li {
  list-style-type: disc;
  transition: 150ms;
}

.iconsCard ul li:hover {
  text-decoration: underline;
}

.iconsCard ul li::before {
  content: "";
}

.iconsCard ul li a {
  color: black;
}

.iconsCard h4 {
  padding-top: 0.5em;
}

/** Not Found */
.notFoundContainer {
  background-color: #fff;
  transition: all 0.5s;
}

.notFound {
  width: 35%;
  margin: auto;
  height: 100vh;
  text-align: center;
  padding-top: 2rem;
}

.notFound h1 {
  font-size: 50px;
}

.notFound h6 {
  font-size: 24px;
}

.notFound p {
  text-align: justify;
  hyphens: auto;
}

@media screen and (max-width: 768px) {
  .flexHome {
    flex-wrap: wrap;
  }

  .subjectLink,
  .subjectLinkMenu {
    margin-top: 5%;
    padding: 2%;
    height: auto;
    width: auto;
    display: flex;
  }

  .subjectLinkMenuContent {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    align-items: center;
    display: flex;
  }

  .subjectLinkMenuContent h2 {
    padding-left: 0.5rem;
  }

  .subjectLinkMenuContent img {
    margin-bottom: 0;
  }

  .text-sectionTwo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .mobileSubjectMenu {
    margin-top: 8%;
    display: block;
  }
}

@media screen and (max-width: 450px) {

  /** Global elements  */
  hr {
    margin-bottom: 10% !important;
  }

  .sectionOne {
    padding: 5%;
    margin: auto;
    text-align: center;
  }

  .sectionOne img {
    width: 20rem;
    margin: auto;
  }

  .sectionOne h1 {
    font-size: 3em;
  }

  .sectionOne p {
    font-size: 15px;
    width: 96%;
    margin: auto;
  }

  .sectionOneAppendOne {
    margin: auto;
    margin-bottom: 10%;
  }

  /** Section 2 */
  .sectionTwo {
    display: block;
  }

  .text-sectionTwo h2 {
    font-size: 36px;
  }

  .text-sectionTwo p {
    font-size: 0.95em;
  }

  .flex-1 {
    display: flex;
    flex-wrap: wrap;
  }

  .text-sectionTwo {
    width: 90%;
    margin: auto;
  }

  /** Subjects mobile */
  .subjects {
    margin: auto;
    margin-top: 10%;
    width: 90%;
  }

  .subjectLink h4,
  .subjectLinkMenu {
    font-size: 1.5em !important;
  }

  .subjectLink,
  .subjectLinkMenu {
    background-color: #f6f6f6;
    padding: 7%;
  }

  .bx-chevron-right {
    color: #023246;
  }

  /** Subjects card  */
  .subjectCard {
    width: 100%;
    border-radius: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 10%;
  }

  .table {
    width: 100% !important;
  }

  /** Img */
  .eightyPercentImg {
    width: 100%;
  }

  .reglaTres {
    width: 20%;
  }

  .practiceImg {
    width: 70%;
  }

  /** English space  */
  .englishCard {
    width: 90%;
    margin-bottom: 4%;
  }

  .englishCardStructure {
    width: 90%;
    margin-bottom: 4%;
  }


  /** Information page */
  .infoOne {
    margin-top: 8%;
  }

  .ImgInfo {
    width: 20%;
  }

  .infoTitle {
    width: 65%;
    padding: 4%;
  }

  .cardsInfoSection {
    margin-top: 2%;
  }

  .cardInfo {
    color: black;
    padding: 3%;
    width: 300px;
    height: 100%;
    margin-inline: 2%;
    margin-top: 7%;
  }

  /** Blog */
  .containerCards {
    padding-top: 10%;
  }

  .blogCard {
    width: 95%;
  }

  .blogCardImg {
    width: 8em;
  }

  .blogCardText {
    width: 18em;
  }

  .blogSectionContainerTwo {
    padding-top: 10%;
  }

  .blogSection {
    width: 95%;
  }

  /** Icons card  */
  .iconsCard {
    width: 100%;
    border-radius: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 10%;
  }

  /** Not found */
  .notFound {
    width: 75%;
    padding-top: 6rem;
  }
}

@media screen and (max-width: 400px) {

  .sectionOneAppendOne {
    margin: auto;
    margin-bottom: 8%;
  }
}