.navbar-brand {
  width: 100%;
  transform: scale(1.4);
  z-index: 5 !important;
}
.logo {
  z-index: 5 !important;
}
.navbar-nav {
  flex-direction: row !important;
  background: white;
  gap: 0.5rem;
  margin-left: auto;
  margin-right: 7rem;
  margin-top: 1rem;
  width: fit-content;
  border-radius: 50px;
  z-index: 5 !important;
}
.navbar-nav a{
  color: #1f1e1e;
}
.navbar-nav a:hover{
  color: #1f1e1e;
}
.brandLink {
  width: 4.5%;
  margin-top: 1rem;
  margin-left: 7rem;
}
/** Title subject  */
.titleSubject{
  padding: 0.7em;
  background: white;
  color: #2b7ea1;
  border-radius: 10px;
  z-index: 5 !important;
}
.text-overflow{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: fit-content;
  z-index: 5 !important;
}

/** Nav animation  */
@keyframes up {
  from {
    top: 0px;
  }
  to {
    top: -20px;
  }
}
@keyframes down {
  from {
    top: -20px;
  }
  to {
    top: 0px;
  }
}
.up {
  animation: up 1s;
  transform: translateY(-200px);
}
.down {
  animation: down 0.5s;
}

.navBtn {
  transition: all 0.2s;
  transition-timing-function: ease-in;
}
.navBtn:hover {
  cursor: pointer;
}
.HiSun,
.HiMoon {
  transform: rotateZ(-5deg);
  transition: all 0.2s;
  color: #1f1e1e !important;
}
.HiSun:active,
.HiMoon:active {
  transform: rotateZ(-5deg);
  transition: all 0.2s;
}
.HiSun:hover {
  transform-origin: center;
  transform: rotateZ(45deg);
  transition: all 0.2s;
}
.HiMoon:hover {
  transform-origin: center;
  transform: rotateZ(15deg);
  transition: all 0.2s;
}
.Search {
  transition: all 0.3s;
}
.Search:hover {
  transform: rotateZ(45deg);
}
.dropdown-item {
  margin: auto;
}
.active {
  color: #2b7ea1 !important;
  transition: all 0.2s;
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    width: 2.6rem !important;
  }
  .navbar-nav{
    margin-top: 0.5rem;
    margin-right: .9rem;
  }
  .brandLink{
    margin-left: .9rem;
  }
  .backHoverColor {
    color: black;
  }

}
@media screen and (max-width: 410px) {
  .navbar-brand {
    width: 30%;
  }
  .titleSubject {
    max-width: 7rem;
  }
}
