.search {
  text-align: center;
  background-color: #f6f6f6;
  height: 130vh;
  transition: all 0.2s;
}
.searchInputs {
  margin: auto;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputForm {
  display: flex;
  align-items: center;
  background-color: #bfdfed;
  width: 90%;
  border-radius: 50px;
  border: 0;
  height: 60px;
  padding: 15px;
}
.input {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  font-weight: 500;
  &:focus {
    outline: none;
    &::placeholder {
      color: gray;
    }
  }
  &::selection {
    background-color: #acc8d4;
    color: #fff;
  }
}
::placeholder {
  color: rgb(92, 92, 92);
  transition: 150ms;
  font-size: 14px;
}
.searchIcon {
  position: absolute;
  right: 1.2em;
}
.dataItem {
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
  color: black;
  padding: 1%;
  width: 20%;
  margin: auto;
  transition: transform 0.2s, background-color 0.2s;

  &:hover {
    background-color: #bfdfed;
    color: #fefefe;
    transform: translateX(-10px) !important;
  }
}

.CardImg {
  width: 28%;
}
#clearBtn {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .search {
    height: 100vh;
  }
  .searchInputs {
    padding-top: 10%;
  }
  .searchIcon {
    padding: 0.785em;
  }
  .dataItem {
    font-size: 18px;
    width: 65%;
    margin: auto;
  }
}

