body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*::selection {
  background: rgb(6, 122, 255);
  color: white;
}
/** Global elements */
.ownShadow {
  box-shadow: 0 .5rem 1rem rgba(10, 6, 6, 0.15) ;
}
.ownShadow-lg {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}
h2, h1 {
  font-weight: 200;
}
code {
  color: #000 !important;
  transition: all 0.2s;
}
hr {
  margin-bottom: 5% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: white;
  height: 3px !important;
  border-radius: 12px !important;
  box-shadow: 3px 2px 2px 1px rgb(184, 183, 183) !important;
  background-color: #2b7ea1 !important;
  border: #2b7ea1 !important;
  transition: all 0.2s;
}
ul li {
  list-style-type: none;
}
ul li:before {
  content: "-";
  position: relative;
  left: -5px;
}
ul li {
  text-indent: -6px;
}
.btn-secondary {
  background-color: #2b7ea1 !important;
  border: #2d7d9f !important;
  color: white;
  border-radius: 10px !important;
}
.btn-secondary:hover {
  background-color: #28708f !important;
  border: #28708f !important;
  transform: translateY(-2.5px);
  transition: all 0.2s;
}

/** Section 1 */
.home {
  background-color: #f6f6f6;
  height: 100vh;
  transition: all 0.2s;
}
.sectionOne {
  padding: 5%;
  padding-top: 12rem;
}
.sectionOne h1 {
  font-size: 60px;
  font-weight: 500;
}
.sectionOne p {
  font-size: 16px;
  width: 52%;
}

/** Section 2 */
.home-2 {
  background-color: #f6f6f6;
  transition: all 0.2s;
}
.sectionTwo {
  display: flex;
  width: 100%;
  padding-top: 3%;
}
.sectionTwoText {
  max-width: 70rem;
  padding-bottom: 2%;
}
.text-sectionTwo h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 38px;
}
.flex-1 {
  display: flex;
}
.text-sectionTwo {
  width: 100%;
  padding: 4% !important;
  border-radius: 25px;
  background-color: #2b7ea1;
  color: #fff;
  height: 80%;
  margin-top: 4%;
}

/** Subjects space */
.subjectsContainer {
  margin-left: 5%;
  margin-right: 5%;
  max-width: 80rem;
  flex-wrap: wrap !important;
}
.subjectLink h4 {
  font-size: 1.3em !important;
}
.subjectLink {
  background-color: white;
  border-radius: 25px;
  padding: 8%;
  align-items: center;
  transition: all 0.2s;
}
.subjectLink:hover {
  background-color: #bfdfed;
  color: #fefefe !important;
}
.subjectLink h4{
  font-size: 1.5rem;
}
.BiChevronRight {
  color: #023246 !important;
  transition: all 0.2s;
}
.subjectLink:hover .BiChevronRight {
  color: #fefefe !important;
}
.subjectLinkTrigonometria {
  width: 60%;
  align-items: center;
  padding: 4% !important;
  margin: auto;
}

/** Física page */
.cardsFisica {
  display: flex;
}
.nav-3 {
  margin-top: 5%;
}
.pagination {
  margin-top: 5%;
  --bs-pagination-border-width: 0px !important;
  --bs-pagination-padding-x: 1rem !important;
  --bs-pagination-padding-y: 1rem !important;
  --bs-pagination-border-radius: 1.3rem !important;
}
.pagination li {
  border-radius: 1.3rem !important;
  list-style-type: none !important;
}
.pagination li a:hover {
  background-color: #bfdfed;
  color: #fff !important;
}
.pagination li:before {
  content: none;
}
.page-link {
  color: black !important;
  transition: all 0.2s;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

/** Física page  */
.fisica {
  width: 70%;
  margin: 4%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 4%;
}
.home-fisica {
  padding-bottom: 5%;
  transition: all 0.2s;
}

/** Trigonometria page */
.cardTrigonometria {
  width: 60%;
  margin: auto;
  margin-top: 5%;
  border-radius: 20px;
  padding: 4%;
}
.homeTrigonometria {
  background-color: white;
  padding-bottom: 5%;
  transition: all 0.2s;
}

/** Química page */
.cardQuimica {
  width: 60%;
  margin: auto;
  margin-top: 5%;
  border-radius: 20px;
  padding: 4%;
}
.homeQuimica {
  padding-bottom: 5%;
  transition: all 0.2s;
}
.estequiometriaImg {
  width: 80%;
}

/** Estadística */
.reglaTres {
  width: 15%;
}
.homeEstadistica {
  background-color: white;
  padding-bottom: 5%;
  transition: all 0.2s;
}

/** Geometría */
.homeGeometria {
  padding-bottom: 5%;
  transition: all 0.2s;
}

/** English */
.cardEnglish {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 4%;
  background-color: white;
}

/** Practice page  */
.practiceImg {
  width: 40%;
}

/** Mobile menu pages */
.mobileMenu {
  background-color: #f6f6f6;
  height: 130vh;
}
.mobileSubjectMenu {
  margin: auto;
  margin-top: 8%;
  width: 90%;
  margin-bottom: 10%;
}

/** Information page */
.infoPage {
  align-items: center;
  color: #2b7ea1;
  transition: all 0.2s;
  min-height: 100vh;
}
.ImgInfo {
  width: 8%;
  margin-top: 2%;
}
.infoTitle {
  width: 30%;
  padding: 3%;
  border-radius: 20px;
}
.cardsInfoSection {
  padding-top: 2%;
}
.cardInfo {
  color: black;
  padding: 2%;
  border-radius: 20px;
  width: 21.875rem;
  height: 20rem ;
  margin-right: 2%;
  margin-left: 2%;
}
.cardInfo h2 {
  color: #2b7ea1;
}
.lastCardInfo {
  margin-bottom: 5%;
}

@media screen and (max-width: 768px) {
  /** Global elements  */
  hr {
    margin-bottom: 10% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .home {
    height: 100vh;
  }
  .sectionOne {
    padding: 5%;
    padding-top: 22%;
    margin: auto;
    text-align: center;
  }
  .sectionOne p {
    font-size: 18px;
    width: 96%;
    margin: auto;
  }
  .sectionOneAppendOne {
    margin: auto;
    margin-bottom: 10%;
  }

  /** Section 2 */
  .sectionTwo {
    display: block;
  }
  .text-sectionTwo h2 {
    font-size: 36px;
  }
  .text-sectionTwo p {
    font-size: 0.95em;
  }
  .flex-1 {
    display: flex;
    flex-wrap: wrap;
  }
  .text-sectionTwo {
    width: 90%;
    margin: auto;
  }

  /** Subjects mobile */
  .subjects {
    margin: auto;
    margin-top: 10%;
    width: 90%;
  }
  .subjectLink h4 {
    font-size: 1.5em !important;
  }
  .subjectLink {
    background-color: #f6f6f6;
    padding: 7%;
  }
  .bx-chevron-right {
    color: #023246;
  }
  .subjectLinkTrigonometria {
    width: 100% !important;
    padding: 8% !important;
  }

  /** Física */
  .cardsFisica {
    flex-wrap: wrap;
    margin: 4%;
  }
  .fisica {
    width: 95%;
    margin-top: 10%;
  }
  .nav-3 {
    margin-top: 18% !important;
  }

  /** Trigonometria page */
  .cardTrigonometria {
    width: 95%;
    margin-top: 10%;
  }

  /** Química page */
  .cardQuimica {
    width: 95%;
    margin-top: 10%;
  }

  .estequiometriaImg {
    width: 100%;
  }
  .reglaTres {
    width: 20%;
  }
  /** English page */
  .cardEnglish {
    width: 95%;
    margin-top: 10%;
  }
  .infoOne {
    margin-top: 8%;
  }
  .ImgInfo {
    width: 20%;
  }
  .infoTitle {
    width: 65%;
    padding: 4%;
  }
  .cardsInfoSection {
    margin-top: 2%;
  }
  .cardInfo {
    color: black;
    padding: 3%;
    width: 300px;
    height: 100%;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 7%;
  }
  .lastCardInfo {
    margin-bottom: 15%;
  }

  /** Practice page  */
  .practiceImg {
    width: 70%;
  }
}

@media screen and (max-width: 400px) {
  .sectionOne i {
    margin: auto;
    padding-top: 60%;
  }
  .sectionOne a {
    margin-top: 8%;
  }
  .sectionOneAppendOne {
    margin: auto;
    margin-bottom: 8%;
  }
  .nav-3 {
    margin-top: 20%;
  }
  .mobileMenu {
    height: 110vh;
  }
}
